.uk-onoffswitch {
    position: relative; width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.uk-onoffswitch-checkbox {
    display: none;
}
.uk-onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.uk-onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.uk-onoffswitch-inner:before, .uk-onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.uk-onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1E87F0; color: #DDDDDD;
}
.uk-onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #DDDDDD; color: #999999;
    text-align: right;
}
.uk-onoffswitch-switch {
    display: block; width: 16px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.uk-onoffswitch-checkbox:checked + .uk-onoffswitch-label .uk-onoffswitch-inner {
    margin-left: 0;
}
.uk-onoffswitch-checkbox:checked + .uk-onoffswitch-label .uk-onoffswitch-switch {
    right: 0px;
}
